    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 20px;
        margin: 0;
    }
    
    a {
        color: inherit;
    }
    
    nav a,
    header a {
        text-decoration: none;
    }
    
    nav a:hover,
    header a:hover {
        text-decoration: underline;
    }
    
    header a {
        font-weight: 400;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
    }
    
    .size {
        margin: 0 auto;
        width: 100%;
        max-width: 768px;
        margin-top: 60px;
    }
    
    .heading {
        margin-bottom: 30px;
    }
    
    a {
        text-decoration: none;
    }
    
    .logo {
        width: 30%;
    }
    
    nav {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        display: flex;
        justify-content: flex-end;
    }
    
    nav a {
        padding: 10px;
    }
    
    nav a:last-child {
        margin-left: 10px;
    }
    
    .container {
        width: 100%;
        max-width: 1350px;
        margin: 0 auto;
        padding: 10px;
    }
    
    .masthead {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 75vh;
        overflow: hidden;
        background-size: cover !important;
        background: url('https://source.unsplash.com/WLUHO9A_xik/') no-repeat center center scroll;
    }
    
    main {
        position: relative;
        padding-top: 20px;
    }
    
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        color: #eee;
        font-size: 11vmin;
        letter-spacing: 0.03em;
        line-height: 1;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
        font-size: 72px;
        margin-bottom: 30px;
    }
    
    .anonymus {
        position: absolute;
        height: 50px;
        border-radius: 50%;
        left: 50%;
        top: -30px;
        transform: translateX(-50%);
    }
    
    p {
        margin: 20px auto;
        width: 100%;
        max-width: 768px;
    }
    
    .picture {
        display: flex;
        width: 100%;
        max-width: 1280px;
        margin: 20px auto;
    }
    
    h2 {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }
    
    .perex {
        font-size: 24px;
        margin-top: 40px;
    }
    
    aside {
        float: right;
    }
    
    .foto {
        width: 200px;
        height: 150px;
        margin: 10px 0 0px 30px;
    }
    
    a {
        text-decoration: underline;
        font-weight: bold;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    footer {
        height: 200px;
        background: lightgray;
        display: flex;
        justify-content: center;
    }
    
    .videos {
        display: grid;
        width: 100%;
        max-width: 1280px;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-gap: 52px;
        @media only screen and (max-width: 767px) {
            grid-row-gap: 1.4em;
            div:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    
    .videos img {
        width: 100%;
        height: auto;
    }
    
    .text-gray {
        color: gray;
    }
    
    figcaption {
        width: 100%;
        text-align: center;
        color: gray;
    }
    
    figure {
        margin: 0;
    }
    
    .pre-footer a {
        padding: 10px;
    }
    
    .pre-footer img {
        height: 30px;
        width: 30px;
        display: flex;
    }
    
    .pre-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }